/**
 * @description: Background utilities
 * @project: Utility Framework
 * @author: Yannick Herzog
 * @modified: 2020-06-02
 */
.bg-color-white {
  background-color: #ffffff;
}

.bg-color-gray {
  background-color: $c-gray;
}

.bg-color-light-gray {
  background-color: $c-light-gray !important;
}

.bg-color-lighter-gray {
  background-color: $c-lighter-gray !important;
}

.bg-color-light-brand {
  background-color: transparentize($c-brand, 0.8) !important;
}

.bg-color-brand {
  background-color: $c-brand !important;
}

.bg-color-brand-dark {
  background-color: $c-brand-dark !important;
}

.bg-color-success {
  background-color: $c-success !important;
}
